In [1]:
from typing import List, Dict
import pandas as pd
from Depot import Depot
from Vehicle import Vehicle

# Data for Depot class

In [2]:
depot_distance = pd.read_csv("dataset/9/c_ij.csv", index_col=0).applymap(lambda val: val / 100)
depot_distance

        1       2       3       4       5       6       7       8       9
1    0.00  208.86  195.88  274.10  127.19  242.83  157.50  214.50  115.68
2  218.06    0.00   78.40   57.20  117.30   83.91   89.83  417.31  354.55
3  191.65   73.36    0.00  118.06  142.84  161.96   61.79  390.90  328.14
4  275.18   62.50  125.87    0.00  157.64   83.81  139.81  474.43  465.12
5  106.44  110.66  151.76  158.18    0.00  109.14   72.45  350.20  166.03
6  276.69   80.92  149.38   86.87  107.53    0.00  157.50  435.70  291.40
7  166.16   80.90   51.30  153.37   70.14  161.30    0.00  365.41  302.65
8  211.61  408.51  395.53  473.75  326.85  437.62  357.15    0.00  103.73
9  125.15  344.39  331.41  409.64  168.91  301.15  293.03  103.76    0.00

In [3]:
list(depot_distance.iloc[0,:])

[0.0, 208.86, 195.88, 274.1, 127.19, 242.83, 157.5, 214.5, 115.68]

In [4]:
depot_time = pd.read_csv("dataset/9/t_ij.csv", index_col=0)
depot_time

      1       2       3     4     5     6       7     8     9
1     0  1376.0  1343.0  1755  1237  1885  1029.0  1575  1455
2  1392     0.0   950.0   750  1347   942   874.0  2474  2486
3  1374   948.0     0.0  1409  1585  1663   907.0  2456  2468
4  1990   889.0  1598.0     0  1671  1211  1483.0  3072  2930
5  1440  1476.0  1505.0  1601     0  1284  1267.0  2390  2234
6  1891  1069.0  1603.0  1324  1009     0  1511.0  2802  2373
7  1126   906.0   860.0  1384  1049  1431     0.0  2208  2219
8  1520  2510.0  2478.0  2889  2371  2842  2163.0     0  1658
9  1513  2456.0  2424.0  2835  2329  2417  2109.0  1709     0

In [5]:
list(depot_time.values)

[array([   0., 1376., 1343., 1755., 1237., 1885., 1029., 1575., 1455.]),
 array([1392.       ,    0.       ,  949.9999998,  750.       ,
        1347.       ,  942.       ,  874.0000002, 2474.       ,
        2486.       ]),
 array([1374.       ,  948.       ,    0.       , 1409.       ,
        1585.       , 1663.       ,  907.0000002, 2456.       ,
        2468.       ]),
 array([1990.       ,  889.0000002, 1598.       ,    0.       ,
        1671.       , 1211.       , 1483.       , 3072.       ,
        2930.       ]),
 array([1440., 1476., 1505., 1601.,    0., 1284., 1267., 2390., 2234.]),
 array([1891., 1069., 1603., 1324., 1009.,    0., 1511., 2802., 2373.]),
 array([1126.       ,  906.       ,  859.9999998, 1384.       ,
        1049.       , 1431.       ,    0.       , 2208.       ,
        2219.       ]),
 array([1520., 2510., 2478., 2889., 2371., 2842., 2163.,    0., 1658.]),
 array([1513., 2456., 2424., 2835., 2329., 2417., 2109., 1709.,    0.])]

In [6]:
depot_demand = pd.read_csv("dataset/9/d_i.csv")
depot_demand

   depot  demand
0      1       0
1      2      17
2      3      30
3      4      32
4      5      42
5      6      26
6      7      40
7      8      12
8      9      55

In [7]:
depot_earilest_time_must_be_delivered = pd.read_csv("dataset/9/e_i.csv")
depot_earilest_time_must_be_delivered

   depot  earilest_time_must_be_delivered
0      1                                0
1      2                                0
2      3                                0
3      4                                0
4      5                              120
5      6                                0
6      7                                0
7      8                              150
8      9                                0

In [8]:
delay_time_allowed = pd.read_csv("dataset/9/l_i.csv")
delay_time_allowed

   depot  delay_time_allowed
0      1                 480
1      2                 300
2      3                 420
3      4                 400
4      5                 420
5      6                 420
6      7                 420
7      8                 420
8      9                 420

In [9]:
class DepotFile:
    def __init__(self, BASE_DIR) -> None:
        self.distance_to_other_depots = f"{BASE_DIR}/c_ij.csv" # Matrix
        self.time_to_other_depots = f"{BASE_DIR}/t_ij.csv" # Matrix
        self.demand = f"{BASE_DIR}/d_i.csv"
        self.earilest_time_must_be_delivered = f"{BASE_DIR}/e_i.csv"
        self.delay_time_allowed = f"{BASE_DIR}/l_i.csv"
        
class VehicleFile:
    def __init__(self, BASE_DIR) -> None:
        self.capacity = f"{BASE_DIR}/Q_k.csv"
        self.fuel_fee = f"{BASE_DIR}/B.csv"
        self.fuel_efficiency = f"{BASE_DIR}/a_k.csv"
        self.fixed_cost = f"{BASE_DIR}/fc_k.csv"
        self.depots_can_be_delivered = f"{BASE_DIR}/a_ik.csv" # Matrix

In [10]:
class DepotBuilder:
    def __init__(self, file_name:DepotFile) -> None:
        self.depot_distance = pd.read_csv(file_name.distance_to_other_depots, index_col=0)
        self.depot_time = pd.read_csv(file_name.time_to_other_depots, index_col=0)
        self.depot_demand = pd.read_csv(file_name.demand)
        self.depot_earilest_time_must_be_delivered = pd.read_csv(file_name.earilest_time_must_be_delivered)
        self.depot_delay_time_allowed = pd.read_csv(file_name.delay_time_allowed)
        
        self._number_of_depots = len(self.depot_demand)
        
        self._depots = self._build_depots()
        
    def _build_depots(self) -> Dict[int,Depot]:
        '''
        depot key is 0-based.
        '''
        depots = {}
        for idx in range(self._number_of_depots):
            depot_name = idx
            depot_demand = self.depot_demand["demand"][idx]
            depot_earilest_time_must_be_delivered = self.depot_earilest_time_must_be_delivered["earilest_time_must_be_delivered"][idx]
            depot_delay_time_allowed = self.depot_delay_time_allowed["delay_time_allowed"][idx]
            depot_distance = list(self.depot_distance.iloc[idx,:])
            depot_time = list(self.depot_time.iloc[idx,:])
            
            created_depot = Depot(depot_demand, 
                                  depot_earilest_time_must_be_delivered, 
                                  depot_delay_time_allowed,
                                  depot_distance,
                                  depot_time,
                                  depot_name)
            depots[depot_name] = created_depot
        
        return depots
    
#     @property
#     def depots(self) -> List[Depot]:
#         return self._depots
    
    
    def __getitem__(self, depot_idx:int) -> Depot:
        '''
        __getitem__ method is served as accessor of all depots by specifying certain key of self._depots 
        '''
        if depot_idx not in self._depots:
            raise ValueError(f"'depot_idx' must be one of the following: {list(self._depots.keys())}")
            
        return self._depots[depot_idx]
    
    
    def __repr__(self) -> str:
        return "".join([repr(depot) 
                        for depot in 
                        self._depots.values()])

In [11]:
class VehicleBuilder:
    def __init__(self, file_name:VehicleFile) -> None:
        
        self.vehicle_capacity = pd.read_csv(file_name.capacity)
        self.vehicle_fuel_fee = pd.read_csv(file_name.fuel_fee)
        self.vehicle_fuel_efficiency = pd.read_csv(file_name.fuel_efficiency)
        self.vehicle_fixed_cost = pd.read_csv(file_name.fixed_cost)
        self.vehicle_depots_can_be_delivered = pd.read_csv(file_name.depots_can_be_delivered, index_col=0)
        
        self._number_of_vehicles = len(self.vehicle_capacity)
        
        self._vehicles = self._build_vehicles()
        
    def _build_vehicles(self) -> Dict[int,Depot]:
        '''
        car key is 0-based.
        '''
        vehicles = {}
        for idx in range(self._number_of_vehicles):
            vehicle_name = idx
            vehicle_capacity = self.vehicle_capacity["capacity"][idx]
            vehicle_fuel_fee = self.vehicle_fuel_fee["fuel_fee"][idx]
            vehicle_fuel_efficiency = self.vehicle_fuel_efficiency["fuel_efficiency"][idx]
            vehicle_fixed_cost = self.vehicle_fixed_cost["fixed_cost"][idx]
            vehicle_depots_can_be_delivered = list(self.vehicle_depots_can_be_delivered.iloc[idx,:])
            
            created_vehicle = Vehicle(vehicle_capacity, 
                                      vehicle_fuel_fee, 
                                      vehicle_fuel_efficiency, 
                                      vehicle_fixed_cost,
                                      vehicle_depots_can_be_delivered,
                                      vehicle_name
                                      )
            vehicles[vehicle_name] = created_vehicle
        
        return vehicles
    
#     @property
#     def fleet(self) -> List[Vehicle]:
#         return self._vehicles
    
    
    def __getitem__(self, vehicle_idx:int) -> Vehicle:
        '''
        __getitem__ method is served as accessor of all depots by specifying certain key of self._depots 
        '''
        if vehicle_idx not in self._vehicles:
            raise ValueError(f"'vehicle_idx' must be one of the following: {list(self._vehicles.keys())}")
            
        return self._vehicles[vehicle_idx]
    
    
    def __repr__(self) -> str:
        return "".join([repr(vehicle) 
                        for vehicle in 
                        self._vehicles.values()])

In [27]:
depot_file_name = DepotFile("dataset/9/")

In [38]:
depots= DepotBuilder(depot_file_name)

In [39]:
depots

Depot Name: 0
Demand: 0
Delivery Time Delay: 0
Delay Time Allowed: 480
Distance to Other Depots: {0: 0, 1: 20886, 2: 19588, 3: 27410, 4: 12719, 5: 24283, 6: 15750, 7: 21450, 8: 11568}
Delivery Time to Other Depots: {0: 0.0, 1: 1376.0, 2: 1343.0, 3: 1755.0, 4: 1237.0, 5: 1885.0, 6: 1029.0, 7: 1575.0, 8: 1455.0}
------------------------------------------------------------
Depot Name: 1
Demand: 17
Delivery Time Delay: 0
Delay Time Allowed: 300
Distance to Other Depots: {0: 21806, 1: 0, 2: 7840, 3: 5720, 4: 11730, 5: 8391, 6: 8983, 7: 41731, 8: 35455}
Delivery Time to Other Depots: {0: 1392.0, 1: 0.0, 2: 949.9999998, 3: 750.0, 4: 1347.0, 5: 942.0, 6: 874.0000002, 7: 2474.0, 8: 2486.0}
------------------------------------------------------------
Depot Name: 2
Demand: 30
Delivery Time Delay: 0
Delay Time Allowed: 420
Distance to Other Depots: {0: 19165, 1: 7336, 2: 0, 3: 11806, 4: 14284, 5: 16196, 6: 6179, 7: 39090, 8: 32814}
Delivery Time to Other Depots: {0: 1374.0, 1: 948.0, 2: 0.0, 3: 1409.0, 4: 1585.0, 5: 1663.0, 6: 907.0000002, 7: 2456.0, 8: 2468.0}
------------------------------------------------------------
Depot Name: 3
Demand: 32
Delivery Time Delay: 0
Delay Time Allowed: 400
Distance to Other Depots: {0: 27518, 1: 6250, 2: 12587, 3: 0, 4: 15764, 5: 8381, 6: 13981, 7: 47443, 8: 46512}
Delivery Time to Other Depots: {0: 1990.0, 1: 889.0000002, 2: 1598.0, 3: 0.0, 4: 1671.0, 5: 1211.0, 6: 1483.0, 7: 3072.0, 8: 2930.0}
------------------------------------------------------------
Depot Name: 4
Demand: 42
Delivery Time Delay: 120
Delay Time Allowed: 420
Distance to Other Depots: {0: 10644, 1: 11066, 2: 15176, 3: 15818, 4: 0, 5: 10914, 6: 7245, 7: 35020, 8: 16603}
Delivery Time to Other Depots: {0: 1440.0, 1: 1476.0, 2: 1505.0, 3: 1601.0, 4: 0.0, 5: 1284.0, 6: 1267.0, 7: 2390.0, 8: 2234.0}
------------------------------------------------------------
Depot Name: 5
Demand: 26
Delivery Time Delay: 0
Delay Time Allowed: 420
Distance to Other Depots: {0: 27669, 1: 8092, 2: 14938, 3: 8687, 4: 10753, 5: 0, 6: 15750, 7: 43570, 8: 29140}
Delivery Time to Other Depots: {0: 1891.0, 1: 1069.0, 2: 1603.0, 3: 1324.0, 4: 1009.0, 5: 0.0, 6: 1511.0, 7: 2802.0, 8: 2373.0}
------------------------------------------------------------
Depot Name: 6
Demand: 40
Delivery Time Delay: 0
Delay Time Allowed: 420
Distance to Other Depots: {0: 16616, 1: 8090, 2: 5130, 3: 15337, 4: 7014, 5: 16130, 6: 0, 7: 36541, 8: 30265}
Delivery Time to Other Depots: {0: 1126.0, 1: 906.0, 2: 859.9999998, 3: 1384.0, 4: 1049.0, 5: 1431.0, 6: 0.0, 7: 2208.0, 8: 2219.0}
------------------------------------------------------------
Depot Name: 7
Demand: 12
Delivery Time Delay: 150
Delay Time Allowed: 420
Distance to Other Depots: {0: 21161, 1: 40851, 2: 39553, 3: 47375, 4: 32685, 5: 43762, 6: 35715, 7: 0, 8: 10373}
Delivery Time to Other Depots: {0: 1520.0, 1: 2510.0, 2: 2478.0, 3: 2889.0, 4: 2371.0, 5: 2842.0, 6: 2163.0, 7: 0.0, 8: 1658.0}
------------------------------------------------------------
Depot Name: 8
Demand: 55
Delivery Time Delay: 0
Delay Time Allowed: 420
Distance to Other Depots: {0: 12515, 1: 34439, 2: 33141, 3: 40964, 4: 16891, 5: 30115, 6: 29303, 7: 10376, 8: 0}
Delivery Time to Other Depots: {0: 1513.0, 1: 2456.0, 2: 2424.0, 3: 2835.0, 4: 2329.0, 5: 2417.0, 6: 2109.0, 7: 1709.0, 8: 0.0}
------------------------------------------------------------

In [31]:
vehicle_file_name = VehicleFile("dataset/9/")

In [33]:
vehicles = VehicleBuilder(vehicle_file_name)

In [37]:
vehicles

Capacity: 150
Fuel Fee: 24
Fuel Efficiency: 0.1
Fixed Cost: 1000.0
Depots Can be Delivered: {0: 1, 1: 1, 2: 1, 3: 1, 4: 1, 5: 1, 6: 1, 7: 1, 8: 1}
------------------------------------------------------------
Capacity: 180
Fuel Fee: 24
Fuel Efficiency: 0.15
Fixed Cost: 1200.0
Depots Can be Delivered: {0: 1, 1: 1, 2: 1, 3: 1, 4: 1, 5: 1, 6: 1, 7: 1, 8: 1}
------------------------------------------------------------
Capacity: 290
Fuel Fee: 24
Fuel Efficiency: 0.2
Fixed Cost: 1500.0
Depots Can be Delivered: {0: 1, 1: 0, 2: 0, 3: 1, 4: 1, 5: 1, 6: 1, 7: 1, 8: 1}
------------------------------------------------------------
Capacity: 416
Fuel Fee: 24
Fuel Efficiency: 0.22
Fixed Cost: 966.667
Depots Can be Delivered: {0: 1, 1: 0, 2: 1, 3: 1, 4: 1, 5: 1, 6: 1, 7: 1, 8: 1}
------------------------------------------------------------
Capacity: 592
Fuel Fee: 24
Fuel Efficiency: 0.25
Fixed Cost: 3000.0
Depots Can be Delivered: {0: 1, 1: 0, 2: 0, 3: 1, 4: 0, 5: 0, 6: 0, 7: 0, 8: 1}
------------------------------------------------------------

In [41]:
vehicles[4].is_depot_can_be_delivered(7)

False

In [17]:
route = [0,1,3,4]

In [18]:
class RouteResourceCalculator:
    def __init__(self, depot_builder:DepotBuilder, route:List[int]) -> None:
        self.depots = depot_builder
        self.route = route
        
    
    def _calculate_demand(self) -> int:
        total_demand = 0
        for depot_id in self.route:
            total_demand += self.depots[depot_id].demand
            
        return total_demand
    
    def _calculate_distance(self) -> int:
        '''
        Unit: km
        '''
        total_distance = 0
        for idx in range(len(self.route) - 1):
            start_depot = self.route[idx]
            end_depot = self.route[idx + 1]
            
            distance = self.depots[start_depot].get_distance_to_depot(end_depot)
            total_distance += distance
        
        return total_distance
    
    
    def _calculate_time(self) -> int:
        '''
        Unit: minute
        '''
        total_time = 0
        for idx in range(len(self.route) - 1):
            start_depot = self.route[idx]
            end_depot = self.route[idx + 1]
        
            time = self.depots[start_depot].get_delivery_time_to_depot(end_depot)
            total_time += time
        
        return total_time

In [19]:
route_calc = RouteResourceCalculator(depot_builder, [0,1,2])

In [20]:
route_calc._calculate_distance()

28726

In [21]:
route_calc._calculate_time()

2325.9999998

In [22]:
route_calc._calculate_demand()

47